/* ===============================
   Colour Palette:
   ---------------
   Dark Grey/Gris Foncé:	                         #465065
   Light Grey/Gris Claire:			                   #9aa0ab
   Very Light Grey/Gris Très Claire (footer):       #b9c0c6
   Red/Rouge:			                               #f0454c
   Hover on icons, button and "More ->"             #000
   =============================== */

/* General */

html {
   box-sizing: border-box;
   margin: auto;
}

*, *:before, *:after {
   box-sizing: inherit;
}

body{
   background-image: url'"./images/header.jpg");
}
header{
   display: block;
   /*background-image: url("../images/header.jpg");*/

}

.section{
   display: block;
   float: top right;
   flex-grow: 2;
   flex-wrap: wrap;   
}


.bouton a {
border-radius:10px;
width:150px;
line-height:50px;
text-align:center;
vertical-align:middle;
background: red;
color:white;
text-decoration:none;
margin: 0px 200px;
float: left;
}
.bouton a:hover {

}