/* ===============================
   Colour Palette:
   ---------------
   Dark Grey/Gris Foncé:	                         #465065
   Light Grey/Gris Claire:			                   #9aa0ab
   Very Light Grey/Gris Très Claire (footer):       #b9c0c6
   Red/Rouge:			                               #f0454c
   Hover on icons, button and "More ->"             #000
   =============================== */

/* General */

html {
   box-sizing: border-box;
   margin: auto;
}

*, *:before, *:after {
   box-sizing: inherit;
}

body{
   margin: auto;
   opacity: .7;
}

.le-haut{
   background-image: url("../images/header.jpg");
   background-size: cover;
   width: 1380px;
   height: 1100px;
   /*padding: 500px;*/

}

.freelancer{
   background: #f0454c;
   border-radius: 5px;
   margin-left: 250px;
   color: white;
   padding: 20px;
   text-decoration:none;

   position: relative;
   display: inline-block;
   /*height:450px;
   margin: 50px auto;
   line-height:40px;
   width: 500px;
   height: 450px;*/
}

.section-1 li{
   position: relative;
   display: inline-block;
   left: 850px;
   margin-top: 0px;
   padding: 10px;
   /*float: right;
   flex-wrap: wrap;*/
}

.bouton a {
   text-align: center;
   line-height: 60px;
   border-radius: 5px;
   padding: 20px 30px;
   vertical-align:middle;
   background: #f0454c;
   color:white;
   text-decoration:none;
   margin-top: 10px;
   margin-right: 100px;
   margin-left: 250px;

}

header .fa-twitter, .fa-facebook {
   color: #f0454c;
}

.section-2{
   text-align: left;
   padding: 50px 100px 20px 0px;
   margin-top: 210px;
}


.en-gros{
   font-weight: bold;
   width: 80px;
   font-size: 45px;
   padding-top: 20px;
   margin: 0px 350px 0px 250px;
   border-top: 8px solid #f0454c;

}

.en-petit{
  font-size: 150%;
  font-weight: normal;

  margin-top: 10px;
   margin-right: 100px;
   margin-left: 250px;
}

main, footer {
   margin-left: 250px;
   margin-right: 250px;
}

footer{
   border-top: 1px solid lightgrey;
   color: grey;
}

footer li{
   position: relative;
   display: inline-block;
   margin-top: 20px;
   padding-left: 0px;
   padding-right: 20px;

}

footer .fa-twitter, .fa-facebook, .fa-google-plus{
   color: grey;
}

footer .fa-instagram{
   color: black;
   font-weight: bold;
}

footer .signature{
   position: relative;
   display: inline-block;
   float: right;
}
/* }
.site-title{
  margin: 45px 0 40px 0;
  font-weight: bold;
  font-size: 78px;
}
.site-subtitle{
  margin: 25px 0 0 0;
  font-size: 200%;
  font-weight: normal;
}
body{
  box-sizing : inherit;
 font-family: 'Montserrat', sans-serif;
  width: 980px;
  max-width: 100%;
  margin: auto;
  } 

  padding: 100px;
  margin-top: 20px;
  color: #FFFFFF;
  font-size: 100%;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  } */