/* ===============================
   Colour Palette:
   ---------------
   Dark Grey/Gris Foncé:	                         #465065
   Light Grey/Gris Claire:			                   #9aa0ab
   Very Light Grey/Gris Très Claire (footer):       #b9c0c6
   Red/Rouge:			                               #f0454c
   Hover on icons, button and "More ->"             #000
   =============================== */

/* General */

html {
   box-sizing: border-box;
   font-family: Montserrat, sans-serif;
}

*, *:before, *:after {
   box-sizing: inherit;
}

a{
   text-decoration: none;
}

h1, h2, h3 {
   text-transform: uppercase;
   color: #465065;
}

.en-tete{
   width:940px;
   margin: auto;
}

.le-haut{
   background-image: url("../images/header.jpg");
   background-size: cover;
   height: 1100px;
   /*padding: 500px;*/

}

.en-tete{
display: flex;
justify-content: space-between;
}

.freelancer{
   background: #f0454c;
   border-radius: 5px;
   color: white;
   padding: 20px;
}

.section-1 li{
   display: inline-block;
   margin-top: 0px;
   padding: 10px;
}

footer ul{
   padding-left: 0px;
}

.bouton {
   text-align: center;
   line-height: 60px;
   border-radius: 5px;
   padding: 20px 30px;
   background: #f0454c;
   color: white;
   margin-top: 10px;
}

header .fa-facebook, header .fa-twitter {
   color: #f0454c;
}

.section-2{
   text-align: left;
   padding: 50px 100px 20px 250px;
   margin-top: 210px;
}


h1{
   font-weight: bold;
   font-size: 45px;
   padding-top: 20px;
}

main .partie-1{
   display: flex;
   margin-top: 50px;
   opacity: .9;
}

main, footer {
   width: 940px;
   margin: 20px auto 0;
   
}

h2:before{
   content:"";
   width: 58px;
   height: 6px;
   background-color: #f0454c;
   display: block;
   margin-bottom: 20px;
   
}

footer{
   border-top: 1px solid lightgrey;
   color: grey;
   display: flex;
   justify-content: space-between;
}

footer li{
   display: inline-block;
   margin-top: 20px;
   padding-right: 20px;

}

footer .fa-twitter, .fa-instagram, .fa-facebook, .fa-google-plus{
   color: grey;
}

footer i:hover{
color: black;

}

footer .signature{
   margin-top: 20px;
}

.more{
   color: #f0454c;
   font-weight: bold;
   text-decoration: none;
}

.more:hover{
   color: black;
}

.partie-2{
   display: flex;
}

.macbook{
   margin-top: 100px;
}

.portfolio{
   margin-top: 150px;
   margin-left: 100px;
}

h1:before{
   content:"";
   width: 58px;
   height: 6px;
   background-color: #f0454c;
   display: block;
   margin-bottom: 20px;
}

.p1 p, .p2 p, .p3 p{
   font-size: 15px;
}

.p1, .p2, .p3{
   padding-right: 20px;
}

.partie-1 h2{
   padding-right: 100px;
}

.photos{
   display: flex;

   margin-top: 50px;

}

.retour{
   display: block;
}

.section-pied h1{
   padding-bottom: 0px;
   margin-bottom: 0px;
}
.section-pied h2 +p{
   color: #f0454c;
}

span img{
   border-radius: 50%;
   width: 140px;
   height: 140px;

}
body{
   color: #9AA0AB;
}
.partie-1 p:first-line, .portfolio h2+p, .section-pied h3+p{
   color: #465065;
}

/*main{
 
   width: 600px;
   color: #b5b5b5
;
   margin: auto;
   margin-top: 50px;
   border: 2px #24f0ff
solid;
   position: relative;
}
#corps:before {
   content: '';
   background: url();

   */